# Asset files
*.gif
*.ico
*.jpg
*.jpeg
*.png
*.svg

# Dependencies
node_modules/

# Hidden directories and files
.*
!.github/workflows/**

# License
LICENSE

# Log files
*.log

# Operating System
Thumbs.db

# Package files
*.vsix
yarn.lock

# Themes directory
themes/
