# Dependencies
node_modules/

# Hidden directories
.*/**
!.github/**

# Ignore files
.*ignore

# Image files
*.gif
*.ico
*.jpg
*.jpeg
*.png

# License
LICENSE

# Log files
*.log

# Operating System
.DS_Store
Thumbs.db

# Package files
yarn.lock
*.vsix

# Run Command files
.*rc

# Themes directory
themes/

# Script files
*.sh
