# Dependencies
node_modules/

# Hidden directories
.*/**
!.github/workflows/**

# Ignore files
.*ignore

# Image files
*.gif
*.ico
*.jpg
*.jpeg
*.png

# License
LICENSE

# Log files
*.log

# Operating System
.DS_Store
Thumbs.db

# Package files
*.vsix
yarn.lock

# Run Command files
.*rc

# Themes directory
themes/
