# Dependencies
node_modules/

# Hidden directories
.*/**

# Ignore files
.*ignore

# Images directory
images/

# Log files
*.log

# Operating System
.DS_Store
Thumbs.db

# Package files
yarn.lock

# Run Command files
.*rc

# Source directory
src/

# VSCode directory
.vscode/
