# Artwork
*.fig
*.psd
*.sketch

# Dependencies
node_modules

# Hidden directories
.*/**

# Ignore files
.*ignore

# Images
images

# MacOS
.DS_Store

# Package files
yarn.lock

# Run Command files
.*rc

# Source
src

# VS Code settings
.vscode
