# Dependencies
node_modules/

# Hidden directories
.*/**

# Ignore files
.*ignore

# Image files
*.gif
*.ico
*.jpg
*.jpeg
*.png
!icon.png

# Log files
*.log

# Operating System
.DS_Store
Thumbs.db

# Package files
yarn.lock

# Run Command files
.*rc

# Source directory
src/
